.navbar {
  background-color: #1a1a27 !important;
  height: 100px !important;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
}
.navbar .navbar-nav .nav-link:hover {
  color: #cdac66;
}
.navbar .navbar-nav .active > .nav-link {
  color: #cdac66;
}

footer a.text-light:hover {
  color: #cdac66 !important;
  text-decoration: none;
}

@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}
