#addbtn {
  background-color: white !important;
  color: #5867dd;
  border-radius: 5px;
}
#addbtn:hover {
  background-color: #5867dd !important;
  border: 1px dashed #5867dd !important;
  color: white !important;
}

table {
  color: #c1c4d6;
}

td {
  text-align: center !important;
  /* center checkbox horizontally */
  vertical-align: middle !important;
  /* center checkbox vertically */
}
