/* .font-face-gm {
  font-family: "NotoKufiArabicBold";
} */
@font-face {
  font-family: "NotoSansArabicSemiBold";
  src: local("NotoSansArabicSemiBold"),
    url("./fonts/NotoSansArabic-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "NotoSansArabicSemiBold";
  font-size: 15px;
  font-weight: bold;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1200px) {
  * {
    font-family: "NotoSansArabicSemiBold";
    font-size: 12px;
    font-weight: bold;
  }
}
