/* .font-face-gm {
  font-family: "NotoKufiArabicBold";
} */
@font-face {
  font-family: "NotoSansArabicSemiBold";
  src: local("NotoSansArabicSemiBold"),
    url("./fonts/NotoSansArabic-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "NotoSansArabicSemiBold";
  font-size: 15px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
