::placeholder {
  text-align: right;
}
[type="number"] {
  direction: rtl;
}

#customeProductionCode {
  width: 653px !important;
  display: inline-block !important;
  margin-left: 5px !important;
}

td {
  text-align: center !important;
  /* center checkbox horizontally */
  vertical-align: middle !important;
  /* center checkbox vertically */
}
